[defaults]
inventory = ./inventories/hosts.yml
collections_path = ./collections
roles_path = ./roles_galaxy:./roles
become_plugins = ./plugins/become
vault_password_file = .vault_pass
interpreter_python = auto_silent
host_key_checking = false
retry_files_enabled = false
callbacks_enabled = profile_tasks

[connection]
ssh_agent = auto

[ssh_connection]
pipelining = true
ssh_args = -C -o ControlMaster=auto -o ControlPersist=600s

