[Unit]
Description=Run vLLM content correctness canary for {{ vllm_server_container_name }} periodically

[Timer]
OnBootSec=5min
OnUnitActiveSec={{ vllm_server_content_canary_interval }}
AccuracySec=30s
Persistent=true

[Install]
WantedBy=timers.target
